sample-telemedicine-workflow.json
{
  "name": "Telemedicine AI Sample Workflow",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "telemedicine-sample",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -700,
        -120
      ],
      "id": "sample-webhook",
      "name": "Webhook"
    },
    {
      "parameters": {
        "jsCode": "const body = $input.first().json.body ?? {};\nconst languageMap = {\n  Tamil: \"ta\",\n  Hindi: \"hi\",\n  Telugu: \"te\",\n  Malayalam: \"ml\",\n  Kannada: \"kn\",\n  Marathi: \"mr\",\n  Bengali: \"bn\",\n  Gujarati: \"gu\",\n  English: \"en\",\n};\n\nconst language = body.language ?? \"English\";\n\nreturn [\n  {\n    json: {\n      name: body.name ?? \"\",\n      email: body.email ?? \"\",\n      language,\n      lang_code: languageMap[language] || \"en\",\n      symptoms: body.symptoms ?? \"\",\n    },\n  },\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -500,
        -120
      ],
      "id": "sample-code",
      "name": "Code"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are an AI-powered multilingual telemedicine assistant.\n\nGenerate a short, structured reply in the user's language.\n\nPatient name: {{ $json.name }}\nLanguage code: {{ $json.lang_code }}\nSymptoms: {{ $json.symptoms }}\n\nReturn only the message body with:\n- A greeting using the patient's name\n- Simple symptom guidance\n- One doctor recommendation\n- One home remedy\n\nKeep the output friendly, concise, and safe.",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        -300,
        -120
      ],
      "id": "sample-ai-agent",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.0-flash",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -300,
        80
      ],
      "id": "sample-gemini-model",
      "name": "Google Gemini Chat Model"
    },
    {
      "parameters": {
        "sendTo": "={{ $json.email }}",
        "subject": "Your telemedicine guidance",
        "emailType": "text",
        "message": "={{ $json.output }}",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        20,
        -120
      ],
      "id": "sample-gmail",
      "name": "Send a message"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "REPLACE_WITH_YOUR_SHEET_ID",
          "mode": "list",
          "cachedResultName": "telemedicine-tracker",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Name": "={{ $json.name }}",
            "Email": "={{ $json.email }}",
            "Language": "={{ $json.language }}",
            "Symptoms": "={{ $json.symptoms }}",
            "Response": "={{ $json.output }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Language",
              "displayName": "Language",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Symptoms",
              "displayName": "Symptoms",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Response",
              "displayName": "Response",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        240,
        -120
      ],
      "id": "sample-sheets",
      "name": "Append row in sheet"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          },
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Send a message": {
      "main": [
        []
      ]
    },
    "Append row in sheet": {
      "main": [
        []
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "sample-workflow-1",
  "meta": {
    "templateCredsSetupCompleted": false,
    "instanceId": "sample-instance"
  },
  "id": "sample-telemedicine-ai",
  "tags": []
}